.data-table {
  & {
    thead {
      th {
        &.asc, &.desc {
          a:after{
            margin-left: 10px;
            font: normal normal normal 14px/1 FontAwesome;
          }
        }
        &.asc a:after {
          content: "\f0de";
        }
        &.desc a:after {
          content: "\f0dd";
        }
      }
    }
  }
  &-paginator {
    float: right;
    width: 200px;
    > span {
      width: 50%;
      display: inline-block;
    }
    ul {
      @include clearfix;
      list-style: none;
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      width: 50%;
      float: right;
      > li {
        width: 25%;
        float:left;
      }
    }
  }
}
